@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

.rating {
    @include outlined();
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.9rem;    
    border-radius: 8px;
    background-color: var(--clr-neutral-light-grayish-magenta);
    
    &__stars {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        user-select: none;
    }

    &__text {
        font-size: 1.05rem;
        text-align: center;
        color: var(--clr-primary-very-dark-magenta);
    }
}

@include device(medium) {
    .rating {
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
    }
}