/* From https://github.com/hankchizljaw/modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-primary-very-dark-magenta: hsl(300deg, 43%, 22%);
  --clr-primary-soft-pink: hsl(333deg, 80%, 67%);
  --clr-neutral-dark-grayish-magenta: hsl(303deg, 10%, 53%);
  --clr-neutral-light-grayish-magenta: hsl(300deg, 24%, 96%);
  --clr-neutral-white: hsl(0deg, 0%, 100%);
  --clr-neutral-purple: hsl(228deg, 45%, 44%);
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

@font-face {
  font-family: League Spartan;
  src: url("../assets/fonts/League_Spartan/LeagueSpartan-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: League Spartan;
  src: url("../assets/fonts/League_Spartan/LeagueSpartan-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: League Spartan;
  src: url("../assets/fonts/League_Spartan/LeagueSpartan-Bold.ttf");
  font-weight: bold;
}
body {
  font-family: League Spartan;
  font-weight: var(--font-weight-normal);
  font-size: 0.9375rem;
}

html.desktop {
  width: 1440px;
  height: 800px;
}
html.desktop .design {
  display: block;
  width: 1440px;
  height: 800px;
  max-width: unset;
  content: url("../assets/design/desktop-design.jpg");
}
html.mobile {
  width: 375px;
  height: 1530px;
}
html.mobile .design {
  display: block;
  width: 375px;
  height: 1530px;
  max-width: unset;
  content: url("../assets/design/mobile-design.jpg");
}

.design {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 255;
}

.rating {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.6rem;
  padding: 0.9rem;
  border-radius: 8px;
  background-color: var(--clr-neutral-light-grayish-magenta);
}
.rating__stars {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
}
.rating__text {
  font-size: 1.05rem;
  text-align: center;
  color: var(--clr-primary-very-dark-magenta);
}

@media (min-width: 980px) {
  .rating {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
}
.review {
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--clr-primary-very-dark-magenta);
}
.review__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding-block: 0.5rem;
}
.review__avatar {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  user-select: none;
}
.review__author {
  letter-spacing: 0.02rem;
  line-height: 1.2rem;
}
.review__name {
  font-size: 1rem;
  color: var(--clr-neutral-white);
}
.review__status {
  font-size: 1rem;
  font-weight: normal;
  color: var(--clr-primary-soft-pink);
}
.review__text {
  margin-block-start: 1rem;
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  line-height: 1.4rem;
  color: var(--clr-neutral-white);
}

.attribution {
  margin-block: 0;
  font-size: 1.2rem;
  text-align: center;
}
.attribution a {
  color: var(--clr-primary-very-dark-magenta);
}

a[target=_blank]::after {
  margin: 0 3px 0 5px;
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
}

body {
  display: grid;
  grid-template-areas: "header" "ratings" "reviews" "footer";
  padding-inline: 1.5rem;
  padding-block: 4rem;
  background: url("../../assets/images/bg-pattern-top-mobile.svg") left top/100% no-repeat, url("../../assets/images/bg-pattern-bottom-mobile.svg") left bottom/100% no-repeat;
}
body .header {
  grid-area: header;
  text-align: center;
}
body .header__title {
  margin-block: 1rem;
  margin-inline: 0.5rem;
  font-size: 2.5rem;
  line-height: 2rem;
  letter-spacing: -0.1rem;
  color: var(--clr-primary-very-dark-magenta);
}
body .header__subtitle {
  margin-block: 1.5rem;
  font-weight: normal;
  font-size: 1.1rem;
  color: var(--clr-primary-very-dark-magenta);
}
body .ratings {
  grid-area: ratings;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  margin-block: 1rem;
}
body .ratings .rating {
  flex: 1 1 auto;
  max-width: 400px;
}
body .reviews {
  grid-area: reviews;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  padding: 0;
  margin-block: 1rem;
}
body .reviews .review {
  flex: 1 1 auto;
  max-width: 350px;
}
body footer {
  grid-area: footer;
}

@media (min-width: 980px) {
  body {
    grid-template-areas: "header ratings" "reviews reviews" "footer footer";
    grid-template-columns: 40% 1fr;
    margin-inline: auto;
    max-width: 1160px;
    background: url("../../assets/images/bg-pattern-top-desktop.svg") left top/40% no-repeat, url("../../assets/images/bg-pattern-bottom-desktop.svg") right bottom/75% no-repeat;
  }
  body .header {
    padding-block: 2rem;
    text-align: start;
  }
  body .header__title {
    margin-inline: 0;
    font-size: 3.5rem;
    line-height: 3rem;
  }
  body .ratings {
    flex-flow: column nowrap;
    margin-block: auto;
    margin-inline-start: auto;
  }
  body .ratings .rating {
    padding-inline-start: 2rem;
    padding-inline-end: 3rem;
    max-width: initial;
  }
  body .ratings .rating:nth-child(1) {
    transform: translateX(-6rem);
  }
  body .ratings .rating:nth-child(2) {
    transform: translateX(-3rem);
  }
  body .reviews {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;
  }
  body .reviews > li:nth-child(2) {
    margin-block-start: 1rem;
  }
  body .reviews > li:nth-child(3) {
    margin-block-start: 2rem;
  }
}
