@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

a[target="_blank"]::after {
    margin: 0 3px 0 5px;

    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
}

body {
    @include outlined();
    
    display: grid;
    grid-template-areas: 'header'
                         'ratings'
                         'reviews'
                         'footer';
    padding-inline: 1.5rem;
    padding-block: 4rem;

    background: url('../assets/images/bg-pattern-top-mobile.svg') left top / 100% no-repeat,
                url('../assets/images/bg-pattern-bottom-mobile.svg') left bottom / 100% no-repeat;

    .header {
        @include outlined();

        grid-area: header;
        text-align: center;

        &__title {
            margin-block: 1rem;
            margin-inline: 0.5rem;
            font-size: 2.5rem;
            line-height: 2rem;
            letter-spacing: -0.1rem;
            color: var(--clr-primary-very-dark-magenta);
        }
    
        &__subtitle {
            margin-block: 1.5rem;
            font-weight: normal;
            font-size: 1.1rem;
            color: var(--clr-primary-very-dark-magenta);
        }
    }
    
    .ratings {
        @include outlined();
        
        grid-area: ratings;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;
        padding: 0;
        margin-block: 1rem;

        & .rating {
            flex: 1 1 auto;
            max-width: 400px;
        }
    }
    
    .reviews {
        @include outlined();

        grid-area: reviews;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;
        padding: 0;
        margin-block: 1rem;

        .review {
            flex: 1 1 auto;
            max-width: 350px;
        }
    }

    footer {
        @include outlined();
        
        grid-area: footer;
    }
}

@include device(medium) {
    body {
        grid-template-areas: 'header ratings'
                             'reviews reviews'
                             'footer footer';
        grid-template-columns: 40% 1fr;      
        margin-inline: auto;
        max-width: 1160px;                     
        background: url('../assets/images/bg-pattern-top-desktop.svg') left top / 40% no-repeat,
                    url('../assets/images/bg-pattern-bottom-desktop.svg') right bottom / 75% no-repeat;

        .header {
            padding-block: 2rem;
            text-align: start;
            
            &__title {
                margin-inline: 0;
                font-size: 3.5rem;
                line-height: 3rem;
            }    
        }

        .ratings {
            flex-flow: column nowrap;
            margin-block: auto;
            margin-inline-start: auto;            

            .rating {
                padding-inline-start: 2rem;
                padding-inline-end: 3rem;
                max-width: initial;
            }
            
            .rating:nth-child(1) {
                transform: translateX(-6rem);                
            }

            .rating:nth-child(2) {
                transform: translateX(-3rem);
            }
        }

        .reviews {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            gap: 1rem;

            & > li:nth-child(2) {
                margin-block-start: 1rem;
            }

            & > li:nth-child(3) {
                margin-block-start: 2rem;
            }
        }
    }
}